/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
}

.navbar .logo {
    font-size: 22px;
}

/* Profil imagine și meniu */
.profile-container {
    position: relative;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 10px;
    text-align: left;
}

.profile-menu button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.profile-menu button:hover {
    background-color: #21618c;
}

/* Ascunde meniul atunci când nu este activ */
.profile-menu.hidden {
    display: none;
}
